discord.py
colorama
numpy
requests
aiohttp
bs4
pymongo
selenium
pyPrivnote
gtts
dnspython
image
pokepy
pyinstaller
randomuser
pythonping
asyncio
discord
colorama
numpy
pokepy
asyncio
bs4
pymongo
selenium
colorama
Pillow
pyPrivnote
gtts
randomuser
pythonping
